<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Botão de voltar -->
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <div class="title-with-logo">
        <!-- Logo da padaria -->
        <img src="assets/icon/logo.jpeg" alt="Padaria Fênix" class="logo">
        
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">
  <div class="container">
    <h2>Como podemos te ajudar?</h2>
    <ion-list>
      <!-- Primeiro item: Como usar o aplicativo -->
      <ion-item (click)="toggleAjudaList('comoUsar')" detail>
        <ion-icon name="arrow-dropdown" slot="end"></ion-icon>
        <ion-label>Como usar o aplicativo?</ion-label>
      </ion-item>
      <ion-list *ngIf="showComoUsar">
        <ion-item>
          <ion-label>
            <p>
              Este aplicativo foi projetado para facilitar sua experiência. Navegue pelo menu para acessar diferentes
              funcionalidades, como consultar produtos e preços.
            </p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!-- Segundo item: Contato com suporte -->
      <ion-item (click)="toggleAjudaList('contatoSuporte')" detail>
        <ion-icon name="arrow-dropdown" slot="end"></ion-icon>
        <ion-label>Entre em contato com o suporte</ion-label>
      </ion-item>
      <ion-list *ngIf="showContatoSuporte">
        <ion-item>
          <ion-thumbnail slot="start">
            <img src="assets/icon/ajuda.png" alt="Suporte">
          </ion-thumbnail>
          <ion-label>
            <p>
              Para suporte, entre em contato via email: suporte&#64;padariafenix.com ou pelo telefone: (21) 98765-4321.
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-list>
  </div>
</ion-content>